.close-panel{
    display: none;
}
/*======Boxes for layout position=====*/
.boxes {
    display: table;
    width: 100%;
    height: 100%;
  }
  .box-row{
      display: table-row;
  }
  .box {
    display: table-cell;
   
  }
  .box-header{
      width: 100%!important
  }
  .box-flex{
      display: flex
  }
  .box-flex-1{
      min-width: 60%;
      max-width: 95%;
      flex: 0 0 75%;
  }
  .box-flex-layer-closed{
    min-width: 60%;
    max-width: 98%;
    flex: 0 0 96%;
}

  .box-flex-2{
    width: 350px;
}
  .box1{
      width: 350px;
      margin-right: 15px;
      
  }
  .box2{
      width: 100%;
      margin-left: 15px;
  }
  .box-flex-icon{
    width: 100%;
    margin-right: -15px;
}

.box-flex-icon .icon-style{
    margin:28px;
    width: 30px;
}
/*======Boxes for layout position=====*/
.panel-btn-show{
    width:50px;
    height: 95vh;
    text-align: center;
    font-size: 20px;
    margin-left:-15px;
   
}

.panel-btn-show .header-doc-style{
    width: 100%;
    padding-left: 10px;
    border: none;
    margin-right: 5px
}
.panel-btn-show .icon-style{
    width: 30px;
  
}
.panel-layer-show{
    width:50px;
    text-align: center;
    font-size: 20px;
}
.header-doc-style{
    color:#fff;
    background-color: rgb(66,66,66);
    display: flex;
    align-items: center;
    align-content: center;
    height: 40px;
    

}
.header-doc-style a{
    color:#ffff
}
.header-doc-style p{
    padding-top:5%
}

.icon-style{
    background-color: rgb(56,56,56);
    text-align: center;
    font-size: 16px;
    border: 0.2px #fff solid;
    width: 30px;
}

/*===Style Body component DocumentEditor ======*/

.body-doc-style{
    color: #ffff;
    background-color: #000000!important;
    height: 540px;
    border: solid #333131 0.2px
}
.body-doc-style-custom{
    height: 669px;
    background-color: #ffff;
    background-color: #000000!important;
  
    border: solid #333131 0.2px
}
/*=== end Style Body component DocumentEditor ======*/

.row-style{
    background-color:rgb(83,83,83);
    color:#fff; 
    display: flex;
    align-items: center;
    align-content: center;
    border-bottom:  #333131 solid 1px;
    border-top:  solid #333131 0.2px
}
.row-style p{
    padding-top: 10%;
    
}
.row-page-list{
    padding-top: 2%;
    color:#fff;
    border-top: #333131 solid 0.2px;
    border-bottom: #333131 solid 0.2px;;
    background-color: rgb(83,83,83); 
}
/* custom select item component DocumentList */
.select-style{
    border: none;
    -webkit-appearance: none!important;
    -moz-appearance: none;
    appearance: none;
    background: url('../assets/white-arrow-png-24.png') no-repeat 96% 50%;
    background-color: rgb(56,56,56);   
    height: 25px;
    overflow: hidden;
    background-size: 15px 15px;
    padding-left: 5px;
    
 }
 
 .select-style select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 29px;
    border-color:none!important;
    background-color: transparent;   
    border:none;
    color: #fff
 }
 /* end custom select item */
 /* custom select item component DocumenEditor */
 .select-style-docEditor{
     margin-top: 3px;
 }
 .select-style-docEditor select{  
    width: 200px;
 }
  /* end custom select item component DocumenEditor */
 .row-table{
    
     background:rgb(83,83,83);
  
 }
 
/* css to fixe header from tables document list and page list */
.table-doc tbody{
    height: 240px;
   
}
.table-pag-list tbody{
    height: 300px;
    
}
.fixed_header{
    width: 100%; 
    border-collapse: collapse;
    background:rgb(83,83,83);
}

.fixed_header tbody{
  display:block;
  width: 100%;
  overflow: auto;
  
}

.fixed_header thead tr {
   display: block;
   color: #fff;
   font-size: 0.9em;
   border-bottom: #333131 solid 0.2px;
   
}
.fixed_header thead  th{
    height: 30px;
    align-items: center;
    padding: 7px 5px;
}


.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: center;
  width: 200px;
  color: #fff;
  
}

.fixed_header td{
    font-size: 0.8em
}
/* end css to fixe header from tables document list and page list */

/*===Style compenent LayerSearch=====*/
.col-layer{
    padding: 10px 10px;
    background-color:rgb(66,66,66);
    color: #fff;
    border-top: solid #333131 0.2px;
    border-bottom: solid #333131 0.2px;
}

.active-layer{
    background-color:rgb(83,83,83);
}
.body-layer{
    background-color:rgb(83,83,83);
    padding: 10px 10px;
    height: 231px;
    overflow: auto;
    color: #fff
    
}
.body-layer-custom{
    height: 360px!important
}
/*===end Style compenent LayerSearch=====*/
/*===Custom input text component LayerSearch===*/
.body-layer input[type="text"]{
    background-color:rgb(66,66,66);
    border: none;
    width:100%;
    height: 13%;
    color:#fff;
    padding-left: 5px;
}

/* ====custom input checkbox component LayerSearch=====*/
.custom-input {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.custom-input  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: rgb(66,66,66);
}

/* On mouse-over, add a grey background color */
.custom-input :hover input ~ .checkmark {
    background-color:rgb(66,66,66);;
}

/* When the checkbox is checked, add a blue background */
.custom-input  input:checked ~ .checkmark {
    background-color: #ffffff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-input  input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-input  .checkmark:after {
   left:5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*====== end custom input checkbox component LayerSearch=======*/
/*====== Style custom Button component LayerSearch=========*/
.custom-btn button{
    margin: 5px;
  
    color:#fff;
    background-color: rgb(66,66,66);
    border: solid 3px rgb(66,66,66);
    border-radius: 5px;
}
/*====== End Style custom Button component LayerSearch=========*/
/*===Style Component AdditonalInformation====*/
.add-info{
    
    height:calc("100% - 20px");
    background-color:rgb(83,83,83);
    border-left: #333131 solid 0.2px;


}
/*fixe positon for the icon */
.icon-add-info{
    position: absolute;
    right: 5px;
}
/*calc the height from additional Information componet */
.warp-add{
    height: calc(100% - 620px);
    height: -webkit-calc(100% - 620px);  /* para Chrome */
    height: -moz-calc(100% - 620px);
    
}


.nav-custom{
    border-left: #333131 solid 0.2px;
}
.nav-custom li{
 padding-right: 20px
}
.nav-item-active{
    background-color: rgb(83,83,83);
    margin-top: -2px;
    margin-bottom: -3px;
    margin-left: -14px;
    padding-right: 10px 
}
.align-items-bottom{
    position: absolute;
  
    bottom: 10px;
}

.align-items-bottom button{
    margin: 5px;
  
    color:#fff;
    background-color: rgb(66,66,66);
    border: solid 3px rgb(66,66,66);
    border-radius: 5px;
}
/*===end Style Component AdditonalInformation====*/